## messageSource=classpath:/ceeacore/messages/email-orderConfirmation_$lang.properties



#macro(genHtmlLink $url $textColor $bodyContent)
abcd<font color="$textColor">$bodyContent</font>
#end
#macro(displayNegationForDiscount $priceData)
	#if (${priceData.value} > 0)
    -
	#end
	${priceData.formattedValue}
#end

<html>
<head>
</head>
<body bgcolor="#ffffff">
	#set ($accountUrl = "${ctx.baseUrl}/my-account/orders")
	#if ( $ctx.order.guestCustomer )
		#set ($orderInfoUrl = "${ctx.baseUrl}/guest/order/${ctx.order.guid}")
	#else
		#set ($orderInfoUrl = "${ctx.baseUrl}/my-account/order/${ctx.order.code}")
	#end
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
<tr>
<td align="center" valign="top">
<table width="610" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#fff">
<tr>
<td align="center" valign="top" bgcolor="#FFFFFF">
<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">


<tr>
	<td valign="middle">
		<font color="#666666" size="2" face="Arial, Helvetica, sans-serif">
			<div style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.TopContent}</div>
		</font>
	</td>
</tr>
<tr>
	<td>&nbsp;</td>
</tr>

</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>
